<h1>Games#index</h1>

<h3>8-Ball Game</h3>
<form action="/" method="">

  <label for="">Ask the 8-Ball a question</label>
  <input type="text">
  <button class="btn">Get answer</button>
</form>
<div class="answer"><%= @answer %></div>

<h3>Secret Number Game</h3>
List/Buttons -> numbers
