<h1>Games#index</h1>

<h3>8-Ball Game</h3>
<form action="" method="">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="">Ask the 8-Ball a question</label>
  <input type="text">
  <button class="question_button">Get answer</button>
</form>

<h3>Secret Number Game</h3>
