<h2>Search Result</h2>

<% @results.each do |movie| %>
  <% @title = movie['Title'] %>
  <p><a href="/result_details" name="<%= @title %>"><%= @title %></a></p>
  <img src="<%= movie['Poster'] %>" alt="no poster">

<% end %>

